body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 98%;
  height: 100vh;
  margin: 0 auto;
  background-color: aliceblue;
  position: relative;
  display: flex;
  justify-content: center;
}

.courier-app-bg {
  background-color: #fadadd;
  position: absolute;
  top: 250px;
}

.courier-app {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: cornsilk;
}

.courier-app > h2, .show-more-action > h2 {
  text-align: center;
  font-size: 24px;
  margin: 10px 0;
}

.courier-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.courier-item {
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: gainsboro;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 90px;
  transition: .5s;
  cursor: pointer;
}

.courier-item:hover {
  box-sizing: border-box;
  background-color: #bababa;
}

.courier-box > #dhl {
  background-image: url(../images/icons/dhl-logo.png);
  background-position-y: 25px;
}

.courier-item > .dhl-price {
  position: absolute;
  bottom: 25px;
}

.courier-box > #dpd {
  background-image: url(../images/icons/dpd-logo.png);
  background-position-y: 20px;
}

.courier-item > .dpd-price {
  position: absolute;
  bottom: 20px;
}

.show-more-action {
  cursor: pointer;
}

.show-more > .courier-box {
  display: none;
  
}

.courier-print {
  display: flex;
  justify-content: center;
  align-items: center;
}

.print-span {
  margin-left: 7px;
  margin-right: 7px;
}

.toggle-on, .toggle-off {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-on {
  display: none;
}

input[type="radio"] {
  left: -999em;
  position: absolute;
}

.check-with-label:checked + .courier-item {
  background-color: #bababa;
}