.inputDanger {
  border: 1px solid red !important;
  color: red !important;
}

.todoList {
  display: flex;
  align-items: center;
}

div.col-8 > ul {
  margin-left: 10px;
}

.todoList > div {
  margin-left: 10px;
}